---
import Navigation from "./Navigation.astro";
---

<header>
  <a href="../" class="flex items-center">
    <img src="favicon.png" class="h-6 mr-3" />
  </a>
  <nav>
    <Navigation />
  </nav>
</header>
